[submodule "themes/oliver"]
	path = themes/oliver
	url = git@github.com:EvanLuo42/oliver.git
[submodule "themes/hexo-theme-cactus"]
	path = themes/hexo-theme-cactus
	url = git@github.com:no2y/hexo-theme-cactus.git
